.homeCss {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  width: 100%;
  height: 100%;
}

.homeCss section h3 {
  font-size: 4em;
  display: flex;
  color: #1b1b12;
}
.welcomePage {
  line-height: 85px;
  padding: 15px;
  background: rgba(43, 43, 40, 0.25);
  box-shadow: 0 8px 32px 0 #2b2b2840;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 45%;
  height: 70%;
}
.iconsPages {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  flex-direction: column;
}
.iconsPages a {
  text-decoration: none;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
}

.iconsPages a button {
  width: 100%;
  height: 8vh;
  border-radius: 15px;
  cursor: pointer;
  background: rgba(165, 147, 58, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid #a5943a;
}

.iconsPages a button img {
  height: 5vh;
}
.iconsPages a button:hover {
  background: #2e2e2d;
  box-shadow: 0px 0px 15px #2e2e2d;
}

.icons {
  font-size: 30px;
}

