.nav_toggle {
  display: none;
}

@media (max-width: 1200px) {
  .nav_toggle {
    height: 6vh;
  }
  .navlist {
    top: 100px;
    display: flex;
    flex-direction: column;
    background-color: #2b2b28 ;
    height: -webkit-fill-available;
    transform: translateY(-0%);
    transition: 0.3s ease all;
    position: fixed;
    line-height: 10vh;
    height: auto;
    z-index: 999999999999999999999;
    border-radius: 10px;
  }
  .nav_items {
    position: fixed;
    transform: translateY(-300%);
  }
  .nav_items.open {
    transform: translateY(0);
  }
  .nav_toggle {
    display: flex;
    flex-direction: column;
    margin: 15px;
  }
  .nav_toggle span {
    width: 30px;
    height: 4px;
    background: #eed849;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
  }
  .nav_toggle.open > span {
    transform: rotate(45deg) translate(0px, 0px);
  }
  .nav_toggle.open > span:nth-child(2) {
    display: none;
  }
  .nav_toggle.open > span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);
  }
}
