.nav_toggle {
  display: none;
}

@media (max-width: 1000px) {
  .nav_toggle {
    height: 6vh;
    display: flex;
    justify-content: center;
  }
  .navlist {
    top: 0px;
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    transform: translateY(-0%);
    transition: 0.3s ease all;
    position: fixed;
    line-height: 18vh;
    height: 100%;
    z-index: 99;
    background: #2b2b28c4 ;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 2px solid #a5943a;
  }
  .nav_items {
    position: fixed;
    transform: translateY(-300%);
  }
  .nav_items.open {
    transform: translateY(0);
  }
  .nav_toggle {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
  }
  .nav_toggle span {
    width: 30px;
    height: 4px;
    background: #eed849;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
  }
  .nav_toggle.open > span {
    transform: rotate(45deg) translate(0px, 0px);
  }
  .nav_toggle.open > span:nth-child(2) {
    display: none;
  }
  .nav_toggle.open > span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);
  }

  .linkCss{
    font-size: 30px;
  }
  .linkCss:hover {
    background: rgba(238, 216, 73, 0.452);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    color: #2b2b28;
  }
  .routeCss nav {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .linkCss{
    font-size: 25px;
  }
}
