* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}
.App {
  background-image: url(./img/js.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;
  height: 100vh;
}

.loadingCss {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingCss img {
  height: 50vh;
}

.routeCss {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  width: 100%;
  color: #2e2e2d;
}

.routeCss h1 {
  font-size: 18px;
  font-weight: 700;
}

.routeCss nav {
  width: 50vw;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
}
.linkCss {
  text-decoration: none;
  color: #8e8437;
  font-weight: 700;
  margin:0 25px;
}

.linkCss:hover {
  color: #c7bc79;
  border-bottom: 2px solid #eed74b;
}

.linkCssA:hover {
  color: #2e2e2d;
  border-bottom: 2px solid #2e2e2d;
}

#languaje img {
  height: 3vh;
  cursor: pointer;
}
